Installation directiory of FSI visualizer
Default directory (default is testing examples)
Data folder (where you keep your *.D files)
Mesh folder (where you keep your *.X/*.T files)
Filename for fluid space *.D files
Filename for velocity *.D files
Filename for fluid pressure *.D files
Filename for fluid vorticity *.D files (note: filename if file exists, otherwise computed & saved as filename)
Do we have to transform the fluid pressure back to include hydrostatic pressure contributions?
Filename for solid space *.D files
Filename for displacement *.D files
Filename for solid pressure *.D files
Is current configuration the reference configuration + displacement variable?
Topology file prefix (fluid)
Topology file prefix (solid)
Set visualizer output to DEBUG
Fluid density in format 1.0e-3
Gravitational acceleration in x-direction in format 1.0e-3
Gravitational acceleration in y-direction in format 1.0e-3
Gravitational acceleration in z-direction in format 1.0e-3
Visualize fluid
Visualize solid
Visualize interface
Additive pressure constant P_0
Filename for domain velocity *.D files
Filename for directional scalar field *.D files
Filename for interface space *.D files
Filename for Lagrange multiplier *.D files
Filename for solid velocity *.D files
Set scalar bar normalized height (default: 0.1)
Set scalar bar font family ({Arial|Times|Courier}, default: Arial)
